
.DS_Store

Lecture 2/.ipynb_checkpoints/

Lecture 3/.ipynb_checkpoints/

Lecture 4/.ipynb_checkpoints/damped-pendulum-checkpoint.ipynb

Lecture 10/.ipynb_checkpoints/

Lecture 13/.ipynb_checkpoints/
